 /* ブラウザがそれぞれ持っているCSSをリセットするため */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.header{
    width: 90%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}

.header headline{
    font-size: 32px;
}

.nav-list{
    text-align: center;
    padding: 10px 0;
    margin: 0 20px;
}

nav-list-item{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.main-visual {
    width: 100%; /* 横幅 */
    height: 300px; /* 高さ */
    background-color: ; /* 背景色 */
}
.main-visual-content{
    width: 350px;
    height: 300px;
    background-color:　;
}

.main {
    width: 840px; /* 横幅 */
    
    background-color:　; /* 背景色 */
    margin: 0 auto;
}
.blog{
    width: 600px;
    height: 1400px;
    background-color: ;
    float: left; /*要素を左に添える*/
}
.sidebar{
    width: 240px;
    height: 1400px;
    background-color: ;
    float: left;/*要素を左に添える*/
}

.footer{
    width: 100%; /*横幅*/
    height: 120px; /*高さ*/
}